.loginPage{
    position: relative;
    .loginBox{
        width: 450px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color:#fff;
  
        h1{
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            color:#fff;
        }
    }
}

.button {
    background-color: gray;
    border-color: gray;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .loginPage .loginBox {
        width: 85%; 
        h1{
            font-size: 30px;
        }
    }

    .button {
        font-size: 12px;
    }
}