<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>碳索智能二氧化碳在线监测平台</title>
    <script type="text/javascript">
        window._AMapSecurityConfig = {
          securityJsCode: dda725281bf324df517a119f97a0ce00,
        };
    </script>
    <script
        type="text/javascript"
        src="https://webapi.amap.com/maps?v=2.0&key=278c2ea51da6533cb88922bbccc9655f">
    </script>
</head>
<body>
    <div id="root"></div>
</body>
</html>